.left-div{
    width:49%;
    margin:0; 
    padding: 0;
    background-color:rgba(0,0,0,0.06);
    float: left;
    
    
 }

 .order-info P{
    display:inline-block; 
    width:30%; 
    text-align: center;
    color: darkgray;
 }
 .order-info h2{
      display:inline-block; 
      text-align: center;
      width:50%; 
 }
 .order-info h4{
   color: darkgray;
   width:100%;
   text-align:center;  
 }

 table {
       width: 100%;
     background: white;
 }

 .order-contnet {
    width: 100%;
    height:400px; 
    background-color:white; 
 }
 .cash-div{
     width:100%;
     height:40%;
     position:relative; 
     top:50%;  
 }
 #addbtn{
   width:50px; 
   height: 50px;
   border-radius:50%; 

 }

 .cash-btn-div{
     padding:0;	 
     display:inline; 
 }
 .cash-info{
     position: relative;
     top: 15px;
     left: 70px;
 }

 .cash-info2{
      position: relative;
     top: 0px;
     left: 150px;
 }
 .button {
    background-color: #eeeeee;
    border: none;
    color: red;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none
  }

.cir-btn {
		width:135px;
	    border-radius: 50%;
	 	margin:0 20px; 
	 	height: 140px;
	   text-align: center;
	   overflow:hidden; 
     }
     
     #flash{
        margin-bottom: 10px;
        width:120px;
        height:120px;  
        color:orange;
        position: relative;
       bottom: 35px;
       border-radius: 50%;
       margin: 0 20px;
    }
    #flash .glyphicon {
        margin-bottom: 0;

    }

    #dolar{
		background: red;
	    color: white;
	}