body{
  margin:0;
 }
 
.inline{
  display:inline-block; 
}

.button:hover{
  opacity:0.5; 
}
.button:active{
background-color:white;
box-shadow: 0 3px 15px -2px;

}
.nav-btn {
  min-width:140px;
   border-radius: 20px;
   margin:0 20px; 
}


.navbar .buttons p,h2,select {
  position: relative;
    top: 10%; 
}
button,.glyphicon {
  display:block;
  font-size:50px;	
  font-weight: bold;
  margin-bottom: 15px;
  font-style: inherit;
} 
.main-container{
  margin:auto;
width:100%;
background-color:rgba(0,0,0,0.06);
height:900px; 
}